{
    "semi": false,
    "printWidth": 130,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "singleAttributePerLine": false
}